# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
test/*
*.log
debug.log
sampledata/*shm
sampledata/*wal
MAP_IMPLEMENTATION_PLAN.md


# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
genealogy
kbgenealogy

# git setup stuff
git.sh

# Update checker data
latestcheck.json

## Build artifacts
bin/*
!bin/Readme.txt
build/*
# Ignore all files in the data directory
data/*
docs/*
dist/
installers/*
assets/
test/
vendor/*
*.bat
*.ps1
*.sh
rsrc_windows_amd64.syso
setIcon.sh
setver.sh
prepare-deps.ps1
rename-app.sh
rsrc_windows_amd64.syso
REUSABLE-DIALOGS-GUIDE.md
CLAUDE.md

# ALLOWED
!assets/
assets/images
!Inno/*
Inno/.DS_Store
!winres/*
winres/.DS_Store
